# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# SQLite
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Environment
.env

# OS
.DS_Store
Thumbs.db