Screen {
    layout: vertical;
}

#body {
    layout: horizontal;
    height: 1fr;
}

#code_view {
    width: 2fr;
    border: round green;
    padding: 1;
    overflow: auto;
}

#details {
    width: 1fr;
    border: round blue;
    padding: 1;
    overflow: auto;
}

#timeline {
    height: 3;
    border: round yellow;
    padding: 1;
}